{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Ingredients and Steps</title>

    <link rel="stylesheet" href="{% static 'css/add_ingredients_and_steps.css' %}">

    <style>
        
    </style>

    {% endblock %}
</head>
<body>
    {% block content %}
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}
        <div class="form_container flexcol">
                <div class="form_header">
                    <h2>Add Ingredients</h2>
                </div>
            <form method="POST">
                {% csrf_token %}
                <div class="ingredient_form flexrow">
                    {{ingredient_form.ingredient}}
                    {{ingredient_form.quantity}}
                </div>
                <button type="submit" name="add_ingredient">Add Ingredients</button>
            </form>
            
            
            <div class="form_header">
                <h2>Add Steps</h2>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="step_form">
                    {{step_form.step}}
                </div>
                <button type="submit" name="add_step">Add Step</button>
            </form>
            <form action="" method="post">
                {% csrf_token %}
                <center>
                    <button class="finish" type="submit" name="finish" >Finish</button>
                </center>
            </form>

        </div>


        
    {% endblock %}


   
</body>
</html>