{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AwesomeRecipe</title>
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    {% endblock %}


    
</head>
<body>

    {% block content %}



    <div class="main d-flex mx-4 mt-3 ">

        <div class="left"></div>

        {% include 'main/post_recipe_card.html' %}

        <!-- -------- -->
        <div class="right" >

          {% include 'main/post_card.html' %}

        </div>

    </div>

    <script src="/static/js/script.js"></script>

    {% endblock %}
    
</body>
</html>