{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AwesomeRecipe</title>
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    {% endblock %}


    
</head>
<body>

    {% block content %}



    <div class="main d-flex mx-4 mt-3 ">

        <div class="left"></div>

        <div class="add-post-card card" style="width: 18rem; margin: 20px;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Add Post</a>
            </div>
          </div>

        <!-- -------- -->
        <div class="right" >

          {% include 'main/post_card.html' %}

        </div>

    </div>

    <script src="/static/js/script.js"></script>

    {% endblock %}
    
</body>
</html>