<div class="add-post-card card" style="width: 18rem; margin: 20px;  max-height: 300px;">
    <div class="card-body" style="background: none; border: none;">
      <center> <h5 class="card-title">Share Your Recipe with the World!</h5></center>
      <p class="card-text">🍴 Got a delicious recipe you'd love to share? Join our community of foodies and post your favorite recipes below! Let's inspire each other to create mouthwatering dishes. #RecipeShare</p>
      <center><a href="{% url 'create_post' %}" class="btn btn-primary">Add a Post</a></center>
    </div>
</div>