@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flexcol{
    display: flex;
    flex-direction: column;
}

.flexrow{
    display: flex;
    flex-direction: row;
}

.form_container{
    padding: 10px 0px 30px 0px;
    width: 60%;
    height: fit-content;
    margin: 70px auto 50px auto;
    align-items: center;
    background:rgb(239, 239, 239);
    border-radius: 20px;
}


.form_container > .form_header > h2{
    margin-top: 10px;
    font-size: 32px;
}



form { width: 80%; max-width:1000px; margin:30px auto 40px auto; }

.recipe_post {
  color:rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.recipe_post:focus { border:2px solid #CC4949; }




textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}


.quantity_input{
    width: 20%;
    margin-left: 15px;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

.finish{
  width: 150px;
  background: rgb(11, 94, 215);
}

.finish:hover{
  background: rgb(7, 64, 150);
}