{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/login_signup.css' %} ">
    {% endblock %}
</head>
<body>

    {% block content %}
    <div class="form_container flexcol">

        <div class="form_header">
            <h2>Login</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" class="input_area" placeholder="Email" required>
            <input type="password" name="password" class="input_area" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>

    {% endblock %}

   
</body>
</html>
