<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign up</h1>

    <form  method="post">
        {% csrf_token %}
        {{ form_as_table }}
        <table>
            <tr><td>username</td><td> {{ form.username }} </td></tr>
            <tr><td>Email</td><td> {{ form.email }} </td></tr>
            <tr><td>Password</td><td> {{ form.password1 }} </td></tr>
            <tr><td>Confirm Password</td><td> {{ form.password2 }} </td></tr>
        </table>
        <button type="submit">Signup</button>
    </form>
    
</body>
</html>