{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/s.css' %} ">
    {% endblock %}
</head>
<body>

    {% block content %}
    <div class="form_container flexcol">

        <div class="form_header">
            <h2>Sign Up</h2>
        </div>
        <form method="post"> 
            {% csrf_token %}
            {{ form.username }}
            {{ form.email }}
            {{ form.password1 }}
            {{ form.password2 }}
            <button type="submit" name="signup">Sign Up</button>
        </form>
    </div>

    {% endblock %}

   
</body>
</html>
