{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Profile Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>




  {% endblock %}

  <body>
 
{% block content %}
    <section class="h-100 gradient-custom-2">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-9 col-xl-7" style="width: 80%;">
            <div class="card" >
              <div class="rounded-top text-white d-flex flex-row" style=" background-color: #000; background-image: url('/static/img/cover.jpg'); background-size: 100% auto; height:200px">
                <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                  {% if author.user_profile.display_picture %}
                    <img src="{{ author.user_profile.display_picture.url }}" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                  {% else %}
                    <img src="{% static 'img/male user.png' %}" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                  {% endif %}

                  <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                    style="z-index: 1;">
                    Edit profile
                  </button>
                </div>
                <div class="ms-3" style="margin-top: 130px;">
                  {% if author.user_profile.display_name %}
                    <h5>{{author.user_profile.display_name}}</h5>
                  {% else %}
                    <h5>{{author.username}}</h5>
                  {% endif %} 
                  
                  <p>Dharan, Nepal</p>
                </div>
              </div>
              <div class="p-4 text-black" style="background-color: #f8f9fa;">
                <div class="d-flex justify-content-end text-center py-1">
                  <div>
                    <p class="mb-1 h5">126</p>
                    <p class="small text-muted mb-0">Posts</p>
                  </div>
                  <div class="px-3">
                    <p class="mb-1 h5">329</p>
                    <p class="small text-muted mb-0">Followers</p>
                  </div>
                  <div>
                    <p class="mb-1 h5">529</p>
                    <p class="small text-muted mb-0">Following</p>
                  </div>
                </div>
              </div>
              <div class="card-body p-4 text-black">
                <div class="mb-5">
                  <p class="lead fw-normal mb-1">About</p>
                  <div class="p-4" style="background-color: #f8f9fa;">
                    <p class="font-italic mb-1">
                      Hello! I’m a passionate Python Django developer offering a robust User App as a gig. This app includes features like signup/login, user profile creation, and editing. With options to upgrade for responsive templates, additional user attributes, and custom designs, I aim to provide a user-friendly app designed to enhance your website’s visitor experience and potentially attract more traffic to your site. Let’s work together to bring your web presence to the next level!
                      
                    </p>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <p class="lead fw-normal mb-0">Recent Recipes</p>
                  <p class="mb-0"><a href="#!" class="text-muted">Bookmarks <img src="/static/img/bookmark.png" alt="" style="height: 20px; width: 20px;"></a></p>
                </div>
                <div class="row g-2">
                  {% include 'main/post_card.html' %}
                </div>
                


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

      {% endblock %}

    </body>
  </html>